 *{
    margin: 0;
    
}  
body{
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
}
.header{
    color: white;
    flex-wrap:wrap;
} 
.header-logo{
    margin-top: -80px;
    padding-bottom: 1px;
    margin-left: 15px;
    position:relative ;
}
.menú{
background:black;
}
.items-menú{
    display: flex;
    justify-content: flex-end; 
}
.items-menú a {
    position: relative;
    margin-top: 60px;
    font-size: 17px;
    margin-right: 40px;  
    text-decoration: none;
    color: white;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}  
.items-menú a:hover {
    border-top: 1px solid#a37b16;
    border-bottom: 1px solid#a37b16;
}
.menú-responsive-hamburguer{
    color: white;
}
.Elige-tu{  
    padding: 8px ; 
    margin-bottom: 1px;
    text-align: center;
    font-size: 24px;
}

.Campeón{
    font-style: italic;
    text-align: center;
    font-family: "Beaufort for LOL", serif; 
    letter-spacing: 0.03em;
    font-size: 110px;
    font-weight: 100%;
    
}
.parrafo-campeón{
    text-align: center;
}

.Quees{
    position: absolute;
    font-style: italic;
    text-align: left;
    font-family: "Beaufort for LOL", serif; 
    letter-spacing: 0.03em;
    font-size: 45px;
    font-weight: 100%;
    margin-top: 50px;
    margin-left: 20px;
    }
.parrafo-descripcion{
    letter-spacing: 0.03em;
    font-size: 20px;
    text-align: center;
    position: absolute;
    margin-top:130px;
    margin-left: 30px;
    }
.jugar-gratis{
    position: absolute;
    margin-top: 280px;
    align-content: center;
    margin-left: 220px;
    cursor: pointer;
    border: double  #a37b16 ;
    font-size: 28px;
    font-style: italic;
    background-color: transparent;
    text-decoration: none;
    color: black;
    }
.jugar-gratis:hover{
    background-color: #a37b16;
    color: white;
    }
    
.buttons-filter button{
    font-style: italic;
    font-size: 15px;
    cursor: pointer;
    padding:12px;
    margin-left:30px;
    border: double  #a37b16 ;
    background-color: transparent;

}
.sortSelect{
    font-style: italic;
    border: none;
    cursor: pointer;
    padding:12px;
    margin-left:30px;
    border: double  #a37b16 ;
}
.buttons-filter button:hover {
    background-color: #a37b16;
    color: white;
}

.menú ul li{
    color: cornsilk;
    display: inline;
    text-decoration:none;
}
.charBox{
    margin-left:4%;
    display: inline-flex; 
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    margin: 25px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    max-width:200px;
    height: 200px;
    border-radius:50px;
    flex-wrap: wrap;
}
.card:hover{    
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(29, 28, 28, 0.815);
}

.champion-image{
    width: 100%;
    height: 100%;
    border-radius:10px;
    border:2px solid #a37b16; 
}  
.championsName{
    font-family: 'Spectral SC', serif;
    font-size: 25px;
    color: black; 
    display: flex;   
    flex-direction: column-reverse;   
    align-items: center;
}
.modalBg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.bgActive{
    visibility: visible;
    opacity: 1;
}
.modal{   
    position: relative; 
    font-family: 'Spectral SC', serif;
    background-color:black;
    width: 60%;
    height: 80%;
    border-radius:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.modalButton{    
    padding: 10px 30px;
    background-color: transparent;
    color: white;
    border: none;
    font-family: 'Spectral SC', serif;
    cursor: pointer;    
}
.modalClose{
    color:white;    
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.modalTitle{
    margin-bottom:10px;
    font-family: 'Spectral SC', serif;
    font-size: 25px;
    color: white;
    margin:  auto;
    text-align: center;
}

.modalBlurb{
    font-family: 'Spectral SC', serif;
    font-size: 18px;
    text-align: center;
    color:white; 
    text-align: justify;
}
.modalSplash{
    width: 50%;
    height:95%;
    float: left;
    border:1px solid #a37b16;
    margin-right: 20px;
    margin-left: 20px;
}
.cuadrado{
    width:35%; 
    height:75%; 
    border: 1px solid #a37b16;
    position:absolute;
    left: 85px;
    transform: rotateZ(45deg); 
    margin-top: -75px;
}
.searchBox{  
    cursor: pointer;
    position: absolute;
    left: 75%;
}


.searchBox .searchText{
    position: relative;
    display: block;
    width: 100%;
    max-width: 53px;
    transition:0.4s linear;
    overflow: hidden;
}

.searchBox .searchText .searchInput{
    display: block;
    appearance: none;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #a37b16;
    padding: 15px;
    color: gray;
    font-size: 17px;
    cursor: pointer;
    transition: 0.4s linear;    
}

.searchBox .searchText .searchInput::placeholder{
    color:#a37b16;
}

.searchBox .searchText .searchbox_icon{
    position: absolute;
    right: calc(30px / 2);
    top: 35%;    
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.searchBox .searchText .searchbox_icon path{
    fill: black;
    transition: 0.4s linear;    
}

.searchBox .searchText:focus-within{
    max-width: 300px;
}

.searchBox .searchText:focus-within .searchInput{
    background-color: #fff;
    padding-right: 50px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.searchBox .searchText:focus-within .searchbox_icon path{
    fill:#a37b16 ;    
}
.cuadro2{
    width:30%; 
    height:33%; 
    border: 1px solid #a37b16;
    position:absolute;
    left: 115px;
    margin-top: 358px;
}

.champion1{
    margin-left: 690px; 
    margin-top: 10px;
    cursor: pointer;
    animation-name: slidein;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate-reverse;
    animation-timing-function:linear ;
} 
.champion1:hover{
    animation-play-state: paused;
}
.Champion2{
    margin-top:350px;
    margin-right:190px;
    position: absolute;
    cursor: pointer;
    animation-name:play;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function:linear;
}

@-webkit-keyframes slidein {

    0%{
        width: 650px;
        height: 650px;
        background-image: url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/harbinger-l10-website/es-es/production/es-es/static/assassin-d64d3ffdda15e1eed637aefe6a2c7fee.png");
        background-size:cover;
        border-radius:325px;
        border:2px solid #a37b16;
        position: relative;
    
}
    25%{
        width: 650px;
        height: 650px;
        background-image: url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/harbinger-l10-website/es-es/production/es-es/static/fighter-7a08920b696ecdb673edeeae1d3c616e.png");
        background-size:cover;
        border-radius:325px;
        border:2px solid #a37b16;
        position: relative;
    }
    50%{
        width: 650px;
        height: 650px;
        background-image: url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/harbinger-l10-website/es-es/production/es-es/static/mage-3bfa6dfe620adafe5e539c2e470f4acc.png");
        background-size:cover;
        border-radius:325px;
        border:2px solid #a37b16;
        position: relative;
    }
    70%{
        width: 650px;
        height: 650px;
        background-image:url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/harbinger-l10-website/es-es/production/es-es/static/marksman-b339ed8fd7e04ff2c3fca022c5d299fb.png");
        background-size:cover;
        border-radius:325px;
        border:2px solid #a37b16;
        position: relative;
    }
    80%{
        width: 650px;
        height: 650px;
        background-image:url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/harbinger-l10-website/es-es/production/es-es/static/support-d63ae08baf517425864ddc020a5871d5.png");
        background-size:cover;
        border-radius:325px;
        border:2px solid #a37b16;
        position: relative;
    }
    100%{
    
        width: 650px;
        height: 650px;
        background-image:url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/harbinger-l10-website/es-es/production/es-es/static/tank-1245abc326bd98c567ab22659719a1a3.png");
        background-size:cover;
        border-radius:325px;
        border:2px solid #a37b16;
        position: relative;
        
    }
    }

@-webkit-keyframes play {
    0%{ 
        width:400px;
        height: 200px;
        background-image: url("https://pa1.narvii.com/7396/04cce0b1eb55a91ff46a07483986d3de84234c12r1-580-326_hq.gif");
        background-size:cover;
        border: 2px solid #a37b16;
        right:620px;
        
    }
    25%{ 
        width:400px;
        height: 200px;
        background-image: url("https://pa1.narvii.com/7468/744696f8eac6835c770715a3278f2797ecea443br1-480-270_hq.gif");
        background-size:cover;
        border: 2px solid #a37b16;
        right:620px;
        
    }
    50%{ 
        width:400px;
        height: 200px;
        background-image: url("https://media1.tenor.com/images/7ef0c4f6b61436ea445ac4138327f4ff/tenor.gif");
        background-size:cover;
        border: 2px solid #a37b16;
        right:620px; 
        
    }
    70%{ 
        width:400px;
        height: 200px;
        background-image: url("https://media1.tenor.com/images/b7baed5b50f319ea6b879ba0b44b85ca/tenor.gif");
        background-size:cover;
        border: 2px solid #a37b16;
        right:620px;
        
    }
    80%{ 
        width:400px;
        height: 200px;
        background-image: url("https://media1.tenor.com/images/f9eb818d8bce787904086ebb2977fcb8/tenor.gif");
        background-size:cover;
        border: 2px solid #a37b16;
        right:620px;

    }
    100%{ 
        width: 400px;
        height: 200px;
        background-image: url("https://lolstatic-a.akamaihd.net/apollo/content/lists-of-legends/7_ForgettingZhonyas.gif");
        background-size:cover;
        border: 2px solid #a37b16;
        right: 620px;
    }
}

footer{
    background:black;
    color: aliceblue;
    padding: 3em;
    text-align: center;
    justify-content: space-between;
    margin-top: auto;
   /*  flex-wrap: wrap; */
}


