
body{
    margin: 0%;
    background-color:rgba(0, 0, 44, 0.993);
}
.header{
    text-align: center;
    flex-wrap: wrap;
}
.charBox{
    /*outline:1px solid red;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.championsName{
    /*outline:1px solid red;*/
    font-family: 'Spectral SC', serif;
    font-size: 20px;
    color: thistle; 
    display: flex;   
    flex-direction: column-reverse;   
    align-items: center;
    
}
.card{
    /*outline:1px solid red;*/
    margin: 25px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    max-width:200px;
    height: 200px;
    border-radius:50px;
    flex-wrap: wrap;
   
   /*  grid-template-columns: 25% 20% 25%; */
         
}
.card:hover{    
    transform: rotateY(180deg);
}
.champion-image{
    width: 100%;
    height: 100%;
    border-radius:50px;
    border:2px solid white;
    /*border:2px solid #a37b16; Borde Dorado Opcional*/ 
} 
footer{
    background:black;
    color: aliceblue;
    padding: 3em;
    text-align: center;
    justify-content: space-between;
    margin-top: auto;
    
}

/*Desktop first  que empiece desde el MQ mas grande*/

@media screen and (max-width:1024px){
    
}

@media screen and (max-width:768px){
    
}

@media screen and (max-width:480px){
    
}

@media screen and (max-width:320px){
    
}



