*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
   
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
}
.header{
    color: white;
    flex-wrap:wrap;
}
.header-logo{
    margin-top: -1%;
    padding-bottom: 1px;
    margin-left: 15px;
    position: relative;
}

.menú{
background:black;

}
.items-menú{
    display: flex;
    justify-content: flex-end;
}
.items-menú a {
    font-size: 17px;
   margin-right: 40px; 
    text-decoration: none;
    color: white;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}  
.items-menú a:hover {
    border-top: 1px solid#a37b16;
    border-bottom: 1px solid#a37b16;
}
.menú-responsive-hamburguer{
    color: white;
}
.Elige-tu{  
    padding: 15px ; 
    margin-bottom: 2px;
    text-align: center;
    font-size: 24px;
}

.Campeón{
    font-style: italic;
    text-align: center;
    font-family: "Beaufort for LOL", serif; 
    letter-spacing: 0.03em;
    font-size: 110px;
    font-weight: 100%;
    
}
.parrafo-campeón{
    text-align: center;
}

.Quees{
    position: absolute;
    font-style: italic;
    text-align: left;
    font-family: "Beaufort for LOL", serif; 
    letter-spacing: 0.03em;
    font-size: 45px;
    font-weight: 100%;
    margin-top: 120px;
    margin-left: 20px;
    
    }
.parrafo-descripcion{
    letter-spacing: 0.03em;
         font-size: 20px;
        text-align: left;
        position: absolute;
        margin-top:200px;
        margin-left: 30px;
    }
    
.buttons-filter button{
    border: none ;
    border-radius: 50px;
    cursor: pointer;
    padding:10px;
   margin-left:100px;
}



.menú ul li{
    color: cornsilk;
    display: inline;
    text-decoration:none;
}
.charBox{
    /*outline:1px solid red;*/
     display: inline-flex; 
    flex-direction: row;
    flex-wrap: wrap;

    /* outline:1px solid red; */
}
   
.card{
    /*outline:1px solid red;*/
    margin: 25px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    max-width:200px;
    height: 200px;
    border-radius:50px;
    flex-wrap: wrap;
    /* outline:1px solid red; */
   
   /*  grid-template-columns: 25% 20% 25%; */
         
}
.card:hover{    
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(29, 28, 28, 0.815);
}

.champion-image{
    width: 100%;
    height: 100%;
    border-radius:10px;
  border:2px solid #a37b16; 
}  
.championsName{

     font-family: 'Spectral SC', serif;
     font-size: 25px;
     color: black; 
     display: flex;   
     flex-direction: column-reverse;   
     align-items: center;
    
 }
.modalBg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.bgActive{
    visibility: visible;
    opacity: 1;
}
.modal{   
    position: relative; 
    font-family: 'Spectral SC', serif;
    background-color:black;
    width: 60%;
    height: 80%;
    border-radius:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.modalButton{    
    padding: 10px 30px;
    background-color: transparent;
    color: white;
    border: none;
    font-family: 'Spectral SC', serif;
    cursor: pointer;    
}
.modalClose{
    color:white;    
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.modalTitle{
    margin-bottom:10px;
    font-family: 'Spectral SC', serif;
    font-size: 25px;
    color: white;
    margin:  auto;
  text-align: center;
}

.modalBlurb{
    font-family: 'Spectral SC', serif;
    font-size: 18px;
    text-align: center;
    color:white; 
    text-align: justify;
    margin-left:20px;     
}
.modalSplash{
    width: 50%;
    height:95%;
    float: left;
    border:1px solid #a37b16;
    margin-right: 20px;
    margin-left: 20px;
}
.cuadrado{
    width:35%; 
    height:75%; 
    border: 1px solid #a37b16;
    position: absolute;
    top: 85px;
    left: 440px;
    transform: rotateZ(45deg); 
}
.searchBox{    
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBox .searchText{
    position: relative;
    display: block;
    width: 100%;
    max-width: 53px;
    transition: 0.4s linear;
    overflow: hidden;
}

.searchBox .searchText .searchInput{
    display: block;
    appearance: none;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: gray;
    padding: 15px;
    color: gray;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s linear;    
}

.searchBox .searchText .searchInput::placeholder{
    color: gray;
}

.searchBox .searchText .searchbox_icon{
    position: absolute;
    right: calc(30px / 2);
    top: 35%;    
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.searchBox .searchText .searchbox_icon path{
    fill: #130f40;
    transition: 0.4s linear;    
}

.searchBox .searchText:focus-within{
    max-width: 300px;
}

.searchBox .searchText:focus-within .searchInput{
    background-color: #fff;
    padding-right: 50px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.searchBox .searchText:focus-within .searchbox_icon path{
    fill:#a37b16 ;    
}


.champion1{
    margin-left: 698px; 
    margin-top: 10px;
    animation-name: slidein;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate-reverse;
    animation-timing-function:linear ;
   
  } 
  .champion1:hover{
    animation-play-state: paused;
  }
  @-webkit-keyframes slidein {

      0%{
        width: 650px;
        height: 650px;
        background-image: url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/harbinger-l10-website/es-es/production/es-es/static/assassin-d64d3ffdda15e1eed637aefe6a2c7fee.png");
        background-size:cover;
        border-radius:325px;
        border:2px solid #a37b16;
        position: relative;
      }
     25%{
        width: 650px;
        height: 650px;
        background-image: url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/harbinger-l10-website/es-es/production/es-es/static/fighter-7a08920b696ecdb673edeeae1d3c616e.png");
        background-size:cover;
        border-radius:325px;
        border:2px solid #a37b16;
        position: relative;
         }
    50%{
        width: 650px;
        height: 650px;
        background-image: url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/harbinger-l10-website/es-es/production/es-es/static/mage-3bfa6dfe620adafe5e539c2e470f4acc.png");
        background-size:cover;
        border-radius:325px;
        border:2px solid #a37b16;
        position: relative;
    }
    70%{
        width: 650px;
        height: 650px;
        background-image:url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/harbinger-l10-website/es-es/production/es-es/static/marksman-b339ed8fd7e04ff2c3fca022c5d299fb.png");
        background-size:cover;
        border-radius:325px;
        border:2px solid #a37b16;
        position: relative;
    }
    80%{
        width: 650px;
        height: 650px;
        background-image:url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/harbinger-l10-website/es-es/production/es-es/static/support-d63ae08baf517425864ddc020a5871d5.png");
        background-size:cover;
        border-radius:325px;
        border:2px solid #a37b16;
        position: relative;
    }
    100%{
        width: 650px;
        height: 650px;
        background-image:url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/harbinger-l10-website/es-es/production/es-es/static/tank-1245abc326bd98c567ab22659719a1a3.png");
        background-size:cover;
        border-radius:325px;
        border:2px solid #a37b16;
        position: relative;
    }
  }
footer{
    background:black;
    color: aliceblue;
    padding: 3em;
    text-align: center;
    justify-content: space-between;
    margin-top: auto;
   /*  flex-wrap: wrap; */
    
}


